.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  color: #ff9800;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff9800;
}