* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

section {
  padding: 80px 0;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}